.clock {
	position: relative;
	width: 100px;
	height: 120px;
	background: url(../images/clockface.jpg) no-repeat;
	list-style: none;
}
.min {
	position: absolute;
	width: 5px;
	height: 107px;
	top: -3px;
	left: 47px;
	background: url(../images/minhand.png);
	z-index: 2;
}
.hour {
	position: absolute;
	width: 5px;
	height: 111px;
	top: -5px;
	left: 48px;
	background: url(../images/hourhand.png);
	z-index: 1;
}
.date {
	position: absolute;
	top: 100px;
	left: 20px;
	z-index: 3;
}
